<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/main.css">
  <title>Todo List</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <style>
    body {
      font-family: Arial, sans-serif;
      height: 97vh;
      font-family: Arial, sans-serif;
      background: black;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container {
      background: white;
      padding: 20px;
      border-radius: 40px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 300px;
    }

    ul {
      list-style-type: none;
      padding: 0;
      max-height: 190px;
      overflow-y: auto;
    }

    li {
      background-color: #7d7b7b94;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 12px;
      padding: 12px;
      border-radius: 30px;
      color: white;
    }

    .formadd {
      margin-bottom: 16px;
    }

    input[type="text"] {
      padding: 15px;
      font-size: 15px;
      width: 190px;
      height: 15px;
      border-radius: 30px;
      border: 1px solid black;
    }

    .addnew {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .addbutton {
      padding: 12px 15px;
      color: white;
      border: none;
      border-radius: 30px;
      background-color: green;
      cursor: pointer;
    }

    .deletebutton {
      padding: 6px 12px;
      color: white;
      border: none;
      border-radius: 30px;
      background-color: red;
      cursor: pointer;
    }

    h1 {
      text-align: center;
      color: black;
    }

    .todo {
      color: rgb(231, 43, 36);
    }

    .list {
      color: green;
    }

    .alldeletebutton {
      padding: 6px 12px;
      color: white;
      border: none;
      border-radius: 30px;
      background-color: red;
      cursor: pointer;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1><span class="todo">Todo</span> <span class="list">List</span></h1>
    <form class="formadd" action="/update/<%=index%>" method="POST">
      <div class="addnew">
        <input type="text" name="task" value="<%=task.task%>" required>
        <button class="addbutton" type="submit">
          Update
        </button>
    </form>
  </div>
  </div>
</body>

</html>